.Container_Task {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background: linear-gradient(0deg, #0bba80, #3ec29b);
}

/* Appling Styles to todo container*/
#Todo-Container {
  /* border: 2px solid black; */
  height: auto;
  width: 90%;
  background: linear-gradient(0deg, #45a785, #046d4d);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  /* margin-top: 5vh; */
  border-radius: 25px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* Appling Style to the Todo Heading and Container for the app */
#Todo-heading {
  /* border: 2px solid black; */
  background-color: #0a845f;
  width: 80%;
  margin: 3vh auto;
  border-radius: 10pc;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
}

#Todo-heading h1 {
  text-align: center;
  vertical-align: middle;
  font-family: "Courier New", Courier, monospace;
  font-size: 5vw;
  color: #0a172c;
  transition: 1s ease-in-out;
  cursor: pointer;
}

#Todo-heading h1:hover {
  transform: scale(1.05);
}

/* Appling Style to Input and Todo list container */
#container {
  /* border: 2px solid black; */
  width: 80%;
  margin: 0 auto;
  padding: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-bottom: 10vh;
}

/* Styling for input space */
#taking-input {
  position: relative;
}
#taking-input i {
  color: #0a172c;
  position: absolute;
  top: 18%;
  left: 3%;
  font-size: 1.4rem;
  z-index: 1;
}
#taking-input button {
  position: absolute;
  background: transparent;
  border: transparent;
  top: 20%;
}

#taking-input button i {
  margin-left: 0.5vw;
  cursor: pointer;
  transition: 1s ease-out;
}

#taking-input button i:hover {
  color: #0079bf;
  transform: scale(1.1);
}
.add-task {
  width: 83%;
  outline: none;
  font-size: 15px;
  padding: 11px;
  margin-bottom: 3px;
  color: #0a172c;
}

#taking-input input {
  padding-left: 7vw;
  background: #117153;
  border-radius: 10px;
  font-weight: 600;
  /* border: 2px solid rgb(23, 20, 20); */
  caret-color: #f2f2f2;
  transition: 1s;
  margin-bottom: 2vh;
  color: rgb(174, 167, 167);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  /* outline-color: red;
    outline-offset: 5px; */
  outline: none;
  border: transparant;
}
#taking-input input:active {
  transform: translate(4px, 4px);
}

/* Styling for All task indicator and Clear All */
h5 {
  display: flex;
  justify-content: space-between;
  margin-top: -2px;
  color: #0a172c;
  cursor: pointer;
  font-size: 0.9rem;
}

#Blue-tick {
  transition: 1s ease-in-out;
}

.Clear-All:hover {
  color: #0079bf;
  transform: scale(1.05);
}

/* Styling for List Items */
#list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* border: 1px solid #e5e5e5; */
}
#list li {
  padding: 10px;
  /* padding-left: 0; */
  display: flex;
  justify-content: space-between;
  align-items: inherit;
  align-items: center;
  background-color: #117153;
  border-radius: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: 1s ease-in;
  margin-bottom: 5px;
}
#list li:hover {
  background: #03402d;
  transform: scale(1.01);
}
#list input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

#list label {
  position: relative;
  cursor: pointer;
  color: rgb(174, 167, 167);
  font-size: 1.1rem;
  letter-spacing: 1px;
}

#list label:before {
  content: "";
  /* -webkit-appearance: none; */
  background-color: transparent;
  border: 2px solid rgb(174, 167, 167);
  box-shadow: 0 1px 2px rgba(128, 109, 109, 0.05),
    inset 0px -15px 10px -12px rgba(52, 47, 47, 0.05);
  padding: 10px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
  transition: 1px ease-in-out;
}
#list input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
#list input:checked + label:before {
  background: #0079bf;
  transform: scale(1.05);
}
#list input:checked + label {
  text-decoration: line-through;
  color: #0079bf;
}
#Delete-icon {
  height: 28px;
  margin-right: 5px;
  padding: 5px 0px;
  border-radius: 3px;
  color: #0a172c;
  transition: 0.5s ease-in-out;
}
#Delete-icon:hover {
  color: black;
  transform: scale(1.5);
  cursor: pointer;
}

/* Styles for total task and filter(all , uncomplete and Complete*/
h5.Todo-footer-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: -2px;
  color: #0a172c;
  /* padding: 2px; */
  cursor: pointer;
}

.All-Task-button:hover {
  color: #0079bf;
}

.All-Task-button:hover {
  color: #0079bf;
}

.Uncompleted-button:hover {
  color: #0079bf;
}

.Completed-button:hover {
  color: #0079bf;
}
#container hr {
  color: #0a172c;
}

@media screen and (max-width: 568px) {
  #taking-input i {
    font-size: 1rem;
  }
  .add-task {
    width: 75%;
  }
}
@media screen and (max-width: 800px) {
  #taking-input i {
    font-size: 1rem;
  }
  .add-task {
    width: 78%;
  }
}
@media screen and (max-width: 1000px) {
  #taking-input i {
    font-size: 1.2rem;
  }
  .add-task {
    width: 81%;
  }
}
