/* Main body */
body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.all-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Header Section styling */
#Header-section {
  height: 80vh;
  width: 100vw;
  /* border: 2px solid black; */
  background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
  padding-top: 1rem;
  box-shadow: inset 0px 0px 50px 20px rgb(36, 28, 28);
  overflow: hidden;
  position: relative;
}

#Header-section video {
  position: absolute;
  height: 200%;
  width: 250%;
  top: -50%;
  left: -75%;
  z-index: -1;
  /* opacity: 0.8; */
}

/* Horizontal List */
/* .bars {
  color: black;
  margin: 0;
  margin-right: 5%;
  display: none;
}

.dropdown-list {
  margin: 0;
  display: none;
  background-color: #828470;
  box-shadow: 0px 4px 8px 1px #535547;
}

.dropdown-list ul {
  margin: 0.2rem 0.2rem;
  text-align: left;
  padding: 0px 0.8rem;
}

.dropdown-menu:hover .dropdown-list {
  display: block;
  position: absolute;
  right: 3%;
}

.dropdown-list li {
  margin: 0.4rem 0px;
}
.no-list-style {
  list-style: none;
}
.no-list-style li {
  font-weight: 100;
  font-size: 0.9rem;
}
.no-list-style li a {
  list-style: none;
  color: black;
  text-decoration: none;
} */

/* Navigation Menu */
#Header-section nav {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px 12%;
  margin-top: 3vh;
}
.logoContainer {
  width: 20%;
}
/* Logo Styling */
.logoContainer a {
  font-size: 1.4rem;
  font-weight: 900;
  text-decoration: none;
  color: #121a2c;
}
.logoContainer a span {
  background-color: #0a172c;
  color: rgb(219, 194, 194);
  padding: 0px 5px;
  border-radius: 5px;
}

/* Unordered List Item */
#Header-section nav ul {
  margin: 0;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.Horizontal-List {
  list-style: none;
  margin-left: 0;
  padding: 0;
  /* border: 2px solid black; */
}
/* .Horizontal-List li {
  display: inline-block;
  margin: 0 8px 8px 0;
} */

.Horizontal-List li a {
  color: rgb(31, 22, 22);
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color 1s, border-bottom 4s;
}

.nav-menu a:hover {
  color: lightgray;
  border-bottom: 1px solid black;
}

#Header-Content {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid black; */
  padding: 0px 12%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#Header-Content h1 {
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
}

#Header-Content p {
  margin-bottom: 50px;
}
#Header-Content a {
  color: white;
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.25rem;
  text-decoration: none;
}
#Header-Content a span {
  /* background-color: linear-gradient(0deg, #0bba80, #57e3b8);
  padding: 13px 35px; */
  background-color: #0a172c;
  color: rgb(219, 194, 194);
  padding: 13px 35px;
  border-radius: 25px;
}

/* Task Container styling */
.Task-container {
  max-width: 1000px;
  width: 90%;
  /* border: 2px solid black; */
  background: linear-gradient(0deg, #0bba80, #3ec29b);
  padding: 25px;
  border-radius: 10px;
  margin: auto;
  z-index: 4;
  position: relative;
  margin-top: -60px;
  box-shadow: inset 2px 2px 8px 8px #0bba80;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* opacity: 0.9; */
}

.Task-container h2 {
  margin-top: 5px;
  font-weight: 700;
  color: rgb(251, 248, 248);
}
.Task-container a {
  color: white;
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.25rem;
  text-decoration: none;
}

.Task-container a span {
  background-color: #0a172c;
  color: rgb(219, 194, 194);
  padding: 13px 35px;
  border-radius: 25px;
}

#site-info-section {
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: 60%; */
}
.treatment-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 2px solid black; */
}
.iconcontainer {
  width: 350px;
  /* border: 2px solid blue; */
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.iconcontainer h3 {
  color: #624083;
  font-size: 0.8rem;
}
/* .......................Styling to what to expect container */
#coustomer-expert-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
  height: auto;
  /* border: 2px solid black; */
  /* padding: 10px 40px; */
}
#What-to-expect {
  width: 80%;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image-container {
  width: 47%;
  /* border: 2px solid black; */
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 8px solid #0a172c;
  box-shadow: inset 2px 2px 8px 8px black;
}
.WTE-content-container {
  width: 47%;
  /* border: 2px solid black; */
  height: 90%;
}

.WTE-content-container a {
  color: white;
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.25rem;
  text-decoration: none;
}

.WTE-content-container a span {
  background-color: #0a172c;
  color: rgb(219, 194, 194);
  padding: 13px 35px;
  border-radius: 25px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .......................Styling to we offer container */
#we-offer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.we-offer span i {
  padding: 20px;
  background-color: #62dab2;
  border-radius: 5px;
  box-shadow: inset 2px 2px 4px 4px #036343;
  margin-right: 5px;
}

.we-offer span {
  color: #2f1e3f;
  font-size: 1.2rem;
}

/* Latest Song Sextion................... */

.Latest-song {
  width: 93vw;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 2rem; */
  display: flex;
  height: 60vh;
  /* border: 2px solid black; */
}

#slider {
  float: left;
  position: static;
  min-width: 60%;
  height: 90%;
  margin: 0px 150px;
  font-family: "Helvetica Neue", sans-serif;
  perspective: 1400px;
  transform-style: preserve-3d;
  display: flex;
}

#slider label,
#slider label .Card {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  background: linear-gradient(0deg, #88e7c7, #a0afab);
  box-shadow: inset 2px 2px 8px 8px #0bba80;
  font-size: 70px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 400ms ease;
}
.Doctor-image-container {
  width: 50%;
  height: 100%;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.Doctor-image-container img {
  width: 100%;
  height: inherit;
  /* border-radius: 50% */
}
.Doctor-content-container {
  width: 47%;
  height: 100%;
  /* border: 2px solid black; */
  /* color: black; */
  /* padding-right: 5px; */
  padding: 15px;
}

.Doctor-content-container h4 {
  font-size: 1rem;
  color: #040a08;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.Doctor-content-container h2 {
  color: #0a172c;
  font-weight: 900;
  font-size: 1.7rem;
}

.Doctor-content-container p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  color: #292931;
  margin-bottom: 20px;
}

.Doctor-content-container a {
  color: white;
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.25rem;
  text-decoration: none;
}

.Doctor-content-container a span {
  background-color: #0a172c;
  color: rgb(219, 194, 194);
  padding: 13px 35px;
  border-radius: 25px;
}
input[type="radio"] {
  position: relative;
  top: 108%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
  display: none;
}

input[type="radio"]:nth-child(5) {
  margin-right: 0px;
}

input[type="radio"]:checked {
  opacity: 1;
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(20%, 0, -50px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(40%, 0, -250px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(-42%, 0, -250px);
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(-25%, 0, -100px);
}

/* Common Styling to Sectuion */
section {
  width: 93vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid black; */
  padding: 3%;
}
section:nth-child(2n) {
  background-color: white;
}
section:nth-child(2n + 1) {
  background-color: rgb(196, 247, 204);
}
section:target {
  background-color: rgb(187, 194, 197);
}

/* Testimonial Section */

#Customer-feedback-container {
  /* border: 2px solid black; */
  height: auto;
}
#Customer-feedback-container h1 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.timeline-container {
  width: 75%;
  /* border: 2px solid black; */
  position: relative;
}

.timeline-div {
  width: 40%;
  min-height: 150px;
  /* border: 2px solid black; */
  margin: 10px;
  position: relative;
  text-align: right;
  /* box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2); */
}

.timeline-div:nth-child(2n) {
  margin-left: 56%;
}

.timeline-mover {
  position: absolute;
  top: 13%;
  left: 50%;
  width: 0;
  height: 74.5%;
  border: 2px dotted #0a172c;
}

.time-traveller {
  position: sticky;
  top: 21%;
  transform: rotate(90deg);
  z-index: 2;
}

.time-traveller i {
  color: #0a172c;
  margin: -10px;
}

.timeline-div::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: #10459b;
  position: absolute;
  top: 50%;
  right: -24%;
  z-index: 1;
}
.timeline-div:nth-child(2n):after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: #10459b;
  position: absolute;
  top: 50%;
  left: -16%;
  z-index: 1;
}

.timeline-details {
  padding: 8px;
  width: 100%;
}
.timeline-image-container {
  width: 50px;
  position: absolute;
  overflow: hidden;
  top: 8%;
}
.timeline-image-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.Experience-designation {
  font-size: 1.4rem;
  color: #0a172c;
}

.experience-description {
  font-size: 14px;
  padding: 2px;
  color: grey;
  line-height: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.text-align-justify {
  text-align: justify;
}

/* Location Container */
.Location-container {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(143, 99, 99);
  width: 65%;
  padding: 15px;
  background: linear-gradient(0deg, #88e7c7, #16735a);
  /* box-shadow: inset 2px 2px 8px 8px #0bba80; */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.mapContainer {
  width: 60%;
  /* border: 2px solid blue; */
}
.mapContainer iframe {
  border-radius: 15px;
}
.AddressContainer {
  width: 35%;
}
/* Common class for whole page */
.text-center {
  text-align: center;
}

.section-sub-heading {
  color: #0bba80;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.Section-heading {
  color: #0a172c;
  font-weight: 900;
  font-size: 1.7rem;
}
.para-styling {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 25px;
}
